{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "react"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-unused-vars": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "env": {
    "browser": true,
    "es6": true
  }
}
